.card {
    width: 340px;
    height: 340px;
    display: block;
    /* pour que Link soit un bloc */
    background-color: rgba(255, 96, 96, 1);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    text-decoration: none;
    color: white;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    overflow: hidden;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    text-decoration: none;
    color: white;
}

.card-content {
    box-sizing: border-box;
}

/* .card-content h2 {
    margin: 0 0 10px 0;
} */

.card-content p {
    margin: 0;
    color: #555;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 1.2em;
    -webkit-box-orient: vertical;
}

.card-image {
    width: 100%;
    height: 180px;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* ou 'contain' si tu veux l’image entière */
    display: block;
}

h2 {
    font-size: 20px;
}