.collapse-container {
    width: 100%;
    margin: 0 auto;


    .collapse-button {
        width: 100%;
        text-align: left;
        padding: 10px;
        color: white;
        font-weight: 700;
        font-size: 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: rgba(255, 96, 96, 1);
        border: none;
        cursor: pointer;
        border-radius: 5px;

        @media screen and (max-width: 920px) {
            font-size: 20px;
            font-weight: 500;
        }
    }

    .collapse-arrow {

        transition: transform 0.3s ease;
    }

    .collapse-content {
        background-color: rgba(246, 246, 246, 0.45);
        padding: 20px;
        border-radius: 0 0 5px 5px;
        color: black;
        font-weight: 400;
        font-size: 16px;
        text-align: left;
    }
}

.collapse-wrapper {
    width: 90%;
    margin: 0 auto;
    gap: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
    margin: auto;
}