.header {
    display: flex;
    justify-content: space-between;
    width: 1240px;
    align-items: center;
    margin: auto;
    padding-top: 40px;   
    padding-bottom: 40px;
}

.header__logo {
    width: 100px;
}

.nav-header {
    display: flex;
    gap: 40px;
}   

.nav-header__nav-link-home {
    text-decoration: none;
    color: black;
}

.nav-header__nav-link-about {
    text-decoration: none;
    color: black;
}

a:active {
    text-decoration: underline;
    color: black;
}

