@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.gallery {
    width: 1240px;
    background-color: rgba(246, 246, 246, 1);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    gap: 30px;
    border-radius: 25px;
}