@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
header,.main, .logement {
    max-width: 1440px;
    margin: auto;
    padding: 0 100px;

     @media screen and (max-width: 920px) {
        padding: 0 20px;
     }
}



.main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}


